<div id="container1">
  <div class="searchbar">Search</div>
</div>

<div id="container2">
    <div class="header1">
      Professional workout videos
    </div>
    
    <div class="header2">  
    Find your favorite workout to do at home.
    </div>
    
  <div class="image-container">
    <div class="catimage"><%= image_tag("cardionew_300x340", size: "300x340") %><span>Cardio</span></div>
    <div class="catimage"><%= image_tag("pushup_male_300x350", size: "300x340") %><span>Strength</span></div>
    <div class="catimage"><%= image_tag("zumba_300x340", size: "300x340") %><span>Zumba</span></div>
  </div>
    
  <div class="image-container2">
    <div class="catimage"><%= image_tag("yoga_300x340", size: "300x340") %><span>Yoga</span></div>
    <div class="catimage"><%= image_tag("pilates_300x340", size: "300x340") %><span>Pilates</span></div>
    <div class="catimage"><%= image_tag("stretching_300x340", size: "300x340") %><span>Streching</span></div>
    <div class="button1">See all categories</div>
  </div>

</div>

<div id="container3">

    <div class="header1">
      Are you a fitness instructor?
    </div>
    
    <div class="header2">  
    Upload your videos and get paid for every view.
    </div>

  <div class="image-container3">
    <div class="catimage2"><%= image_tag("upload_icon1", size: "150x150") %><span2>Submit Video</span></div>
    <div class="catimage2"><%= image_tag("arrow_right_smaller", size: "150x150") %></div> 
    <div class="catimage2"><%= image_tag("review_icon1", size: "150x150") %><span2>We Review It</span></div>
    <div class="catimage2"><%= image_tag("arrow_right_smaller", size: "150x150") %></div> 
    <div class="catimage2"><%= image_tag("approved_icon1", size: "150x150") %><span2>Approved & Live</span></div>
    <div class="button1">Get Started</div>
    </div>
</div>
<div id="container3">
    <div class="header3">
      Want to track your progress?
    </div>
    <div class="header2">
      All your workouts, calories, etc. can be tracked!
    </div>
    <a href="/users/new"><div class="button2">Sign Up</div></a>
  <div class="image-container3">
    <div class="bottomimage"><%= image_tag("progress_meter", size: "200x200") %></div>
    </div>
</div>