<!-- <div class="searchbar">Search</div> -->
<div style="background:#f5f5f5 !important" class="center jumbotron">
<div class="wrapper-image">
  
  <div class="image-container3">
    <div class="catimage"><%= image_tag("cardionew_300x340", size: "300x340") %><span>Cardio</span></div>
    <div class="catimage"><%= image_tag("pushup_male_300x350", size: "300x340") %><span>Strength</span></div>
    <div class="catimage"><%= image_tag("zumba_300x340", size: "300x340") %><span>Zumba</span></div>
  </div>
    
  <div class="image-container3">
    <div class="catimage"><%= image_tag("yoga_300x340", size: "300x340") %><span>Yoga</span></div>
    <div class="catimage"><%= image_tag("pilates_300x340", size: "300x340") %><span>Pilates</span></div>
    <div class="catimage"><%= image_tag("stretching_300x340", size: "300x340") %><span>Streching</span></div>
  </div>
</div>
    <div class="button1">See all categories</div>

<div class="wrapper-image">
  <h1>Are you a fitness instructor?</h1>
  <h2>Upload your videos and get paid for every view.<h2>

  <div class="image-container3">
    <div class="catimage"><%= image_tag("upload_icon1", size: "150x150") %><span2>Submit Video</span2></div>
    <div class="catimage"><%= image_tag("arrow_right_smaller", size: "150x150") %></div> 
    <div class="catimage"><%= image_tag("review_icon1", size: "150x150") %><span3>We Review It</span3></div>
    <div class="catimage"><%= image_tag("arrow_right_smaller", size: "150x150") %></div> 
    <div class="catimage"><%= image_tag("approved_icon1", size: "150x150") %><span4>Approved & Live</span4></div>
    <div class="button1">Get Started</div>
  </div>
</div>

<div class="wrapper-image">
  <h1>Want to track your progress?</h1>
  <h2>All your workouts, calories, etc. can be tracked!</h2>
</div>
<div class= "wrapper-image">
  <a href="/users/new"><div class="button2">Sign Up</div></a>
</div>
<div class= "wrapper-image">
  <div class="image-container">
    <div class="bottomimage"><%= image_tag("progress_meter", size: "200x200") %></div>
  </div>
  </div>
</div>