<div class="body-div">
  <div class="vidcontainer"><script src="//content.jwplatform.com/players/<%= current_video.videofile %>-oEEyLY9V.js"></script></div>
  <div class="video-details">
    <div class="comments">
      <h3>Comments (<%= current_video.microposts.count %>)</h3>
      <% if current_video.microposts.any? %> <!-- if microposts.any? -->
      <div class="microposts" id="reload">

        <%= render @microposts %>
        </div>
        <div class="microposts2" id="reload2">
      <!-- show micropost form to submit post -->
        <% if logged_in? %>
        <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
        </section>
       
      </div>
    <% end %>
    <div class="microposts3">
      <% unless logged_in? %>
        <%= link_to "Login", login_url %> or <%= link_to "Signup", signup_url %> to post a comment.
        <p></p>
        <% end %>
      </div>
      <% end %> <!-- if microposts.any? -->
      <% unless current_video.microposts.any? %> <!-- unless microposts.any? -->
        <div class="microposts2" id="reload2">
      <!-- show micropost form to submit post -->
        <% if logged_in? %>
        <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
        </section>
       
      </div>
    <% end %>
    <div class="microposts3">
      <% unless logged_in? %>
        <%= link_to "Login", login_url %> or <%= link_to "Signup", signup_url %> to post a comment.
        <p></p>
        <% end %>
      </div>
      <% end %> <!-- unless microposts.any? -->
    </div>
          
      </div>
      <div class="commentbox" style="height: 130px">
        <div class="vidTitle">
      Today's Workout - <%= logged_in? ? Time.now.in_time_zone(current_user.time_zone).strftime("%m/%d") : Time.now.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d") %>
    </div>
      
    <div class="quote">
      It's <%= Time.now.strftime("%A") %>, give it all you got!
    </div>
      
  </div>
  
  
<!-- BEGIN javascript scripts for updating user model data -->
<script>
  $('#reload').scrollTop($('#reload')[0].scrollHeight);
</script>
<script>
var duration = 0;
var duration;  
           jwplayer().onBuffer(function () {
            duration = this.getDuration();   
            console.log(duration);
            }       
    );

    jwplayer().onPlay(function () {
            if(duration==-1)
            duration=this.getDuration();
            console.log(duration);
            }       
    );

</script>

<script>
var plays = 0
jwplayer().onPlay(function () {
    plays++
    if(plays == 1) {
    setInterval(alertFunc, 1000);
    }
});
var timeWatched = 0;
function alertFunc() {
    if(jwplayer().getState() == "playing" && timeWatched < duration){
        timeWatched++;
        $.ajax("/users/increase_workoutseconds");
    } else if (timeWatched >= duration) {
        clearInterval(theInterval);
        timeWatched = 0
    }    
    else {
        console.log("error in alertFunc!")
    }    
}
</script>

<script>
jwplayer().on('complete', function() {
  $.ajax("/users/increase_workouts")
});
</script>
<!-- END javascript scripts for updating user model data -->

</div>

