<% provide(:title, @user.name) %>
  
<div class="row">
  <% if @user.time_zone == nil %>
  <div class="alert alert-danger" style="width: 70%; margin-left: 15%">
    Your time zone is not set. Go to "<%= link_to "Settings", edit_user_path(current_user) %>" to set your time zone to have accurate statistics.
    </div>
  <% end %>
</div>
  <h2>Workout Dashboard</h2>
  
  
  
<!-- BEGIN OVERALL BLOCK -->
<div class="row center">
  <div class="col-sm-8 col-sm-offset-2 youtube-box">
    <div class="row vertical-align">
      <div class="col-xs-12 col-sm-3">
        Overall
      </div>
      <div class="col-xs-4 col-sm-3">
        <div class="col-sm-12 small-bottom-margin">
        <%= image_tag("workout_icon.png", size: "75x75") %>
        </div>
        <div class="col-sm-12">
        <%= @user.workouts == nil ? "0" : @user.workouts %>
        </div>
        <div class="col-sm-12">
        Workouts
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div class="col-sm-12 small-bottom-margin">
        <%= image_tag("stopwatch_icon.png", size: "75x75") %>
        </div>
        <div class="col-sm-12">
        <%= @user.overall_workoutseconds %>
        </div>
        <div class="col-sm-12">
        Duration
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div class="col-sm-12 small-bottom-margin">
        <%= image_tag("calories_icon.png", size: "75x75") %>
        </div>
        <div class="col-sm-12">
        <%= number_with_delimiter(@user.overall_calspersec.to_i, :delimiter => ',') %>
        </div>
        <div class="col-sm-12">
        Calories burned
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END OVERALL BLOCK -->
    
    
    
<!-- BEGIN MAIN BLOCK -->
<div class="row">
  <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2 youtube-box top-spacing" style="padding: 0 0 0 0;">
    <div class="col-xs-6 col-md-3 crunched-box bolded-font">
      <div class="col-xs-12 top-spacing" style="margin-bottom: 10px;">
        Today
      </div>
      <div class="col-xs-6 top-spacing">
        Workouts
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.today_workoutpoints %>
      </div>
      <div class="col-xs-6 top-spacing">
        Duration
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.today_workoutsecs %>
      </div>
      <div class="col-xs-6 top-spacing">
        Calories
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.today_calspersec %>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 crunched-box">
      <div class="col-xs-12 top-spacing" style="margin-bottom: 10px;">
        Yesterday
      </div>
      <div class="col-xs-6 top-spacing">
        Workouts
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.yesterday_workoutpoints %>
      </div>
      <div class="col-xs-6 top-spacing">
        Duration
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.yesterday_workoutsecs %>
      </div>
      <div class="col-xs-6 top-spacing">
        Calories
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.yesterday_calspersec %>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 crunched-box">
      <div class="col-xs-12 top-spacing" style="margin-bottom: 10px;">
        This Week
      </div>
      <div class="col-xs-6 top-spacing">
        Workouts
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.workouts_for_this_week %>
      </div>
      <div class="col-xs-6 top-spacing">
        Duration
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.workoutseconds_for_this_week %>
      </div>
      <div class="col-xs-6 top-spacing">
        Calories
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.calories_for_this_week %>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 crunched-box">
      <div class="col-xs-12 top-spacing" style="margin-bottom: 10px;">
        Last Week
      </div>
      <div class="col-xs-6 top-spacing">
        Workouts
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.workouts_for_last_week %>
      </div>
      <div class="col-xs-6 top-spacing">
        Duration
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.workoutseconds_for_last_week %>
      </div>
      <div class="col-xs-6 top-spacing">
        Calories
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.calories_for_last_week %>
      </div>
    </div>
  </div>
</div>
<!-- END OF MAIN BLOCK -->


<!-- BEGIN MONTHLY BLOCK -->
<div class="row">
  <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2 youtube-box top-spacing" style="padding: 0 0 0 0;margin-bottom: 50px;">
    <div class="col-xs-6 crunched-box">
      <div class="col-xs-12 top-spacing" style="margin-bottom: 10px;">
        This month
      </div>
      <div class="col-xs-6 top-spacing">
        Workouts
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.current_month_workoutpoints %>
      </div>
      <div class="col-xs-6 top-spacing">
        Duration
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.current_month_workoutsecs %>
      </div>
      <div class="col-xs-6 top-spacing">
        Calories
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.current_month_calspersec %>
      </div>
    </div>
    <div class="col-xs-6 crunched-box">
      <div class="col-xs-12 top-spacing" style="margin-bottom: 10px;">
        Last Month
      </div>
      <div class="col-xs-6 top-spacing">
        Workouts
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.last_month_workoutpoints %>
      </div>
      <div class="col-xs-6 top-spacing">
        Duration
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.last_month_workoutsecs %>
      </div>
      <div class="col-xs-6 top-spacing">
        Calories
      </div>
      <div class="col-xs-6 top-spacing">
        <%= @user.last_month_calspersec %>
      </div>
    </div>
  </div>
</div>
<!-- END MONTHLY BLOCK -->