<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class=logo>
  <a href="https://fitniss-ddoughty.c9users.io"><%= image_tag("Drawing-123.png", size: "129x46") %></a>
  </div>
<%= yield %>

</body>
</html>
